version: '3.7'

networks:
  ashkeepers-rest:
    driver: bridge

volumes:
  db-data:

services:
  webserver:
    image: nginx:1-alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      # TODO Implement SSL
      - "443:443"
    volumes:
      - ./server:/var/www/server
      - ./server/vendor:/var/www/server/vendor
      - ./client/dist:/var/www/client/dist
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - ashkeepers-rest
  mariadb:
    image: yobasystems/alpine-mariadb:latest
    container_name: mariadb
    restart: unless-stopped
    tty: true
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: SuperSecretP4ssw0rd!
      MYSQL_DATABASE: ashkeepersrestwebsite
      MYSQL_USER: web
      MYSQL_PASSWORD: secret
    networks:
      - ashkeepers-rest
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: api
    volumes:
      - ./server:/var/www/server
      - ./server/vendor:/var/www/server/vendor
      - ./server/php/dev.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - ashkeepers-rest
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    tty: true
    volumes:
      - ./client/dist:/home/node/project/dist
    networks:
      - ashkeepers-rest
