html {
  height: 100%;
  font-family: 'lato';
}
body {
  height: 100%;
  margin: 0;
  background-color: #111;
}
div {
  display: block;
  color: #fff;
}
#app {
  height: 100%;
}
.legion-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.legion-body .legion-page-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.legion-body .legion-page-container .legion-sidebar-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20%;
  height: 100%;
  border-right: solid 1px #fff;
}
.legion-body .legion-page-container div {
  width: 60%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.legion-body .legion-page-container .legion-sidebar-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20%;
  height: 100%;
  border-left: solid 1px #fff;
}
.legion-navbar {
  height: 50px;
  border-bottom: solid 1px #fff;
  padding-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.legion-navbar a {
  margin-right: 10px;
  padding: 5px;
  border-left: solid 1px #fff;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #fff;
  text-decoration: none;
}
.legion-navbar a:hover {
  background-color: #444;
}
