// Navigation Bar styles
@import 'vars.scss';

.ash-navbar {
  max-width: $content-width;
  width: $content-width;
  margin-left: $left-gutter-width;
  display: flex;
  align-items: flex-end;
  background-color: $app-background-color; // Non-transparent background so that tiles that scroll behind it are hidden
  z-index: 10; // bring in front of main
  border-bottom: $divider-height solid $app-border-color;

  .ash-logo {
    position: absolute;
    top: $logo-margin;
    left: -$logo-width - $logo-margin;
    height: $logo-width;
    width: $logo-width;
  }

  .ash-nav {
    height: $header-height - $divider-height;
    line-height: $header-height - $divider-height; // Center text in div
    padding: 0 10px;
    color: $app-text-color;
    text-decoration: none;

    &:first-of-type {
      margin-left: 16px;
    }

    .ash-nav-label {
      margin: auto 0;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: $orange;
        box-shadow: 0 -1px 5px $orange;
        transition: width 0.3s ease-in-out;
      }
    }

    &:hover .ash-nav-label,
    &.ash-selected .ash-nav-label,
    &.ash-selected:hover .ash-nav-label {
      &::after {
        width: 100%;
      }
    }
  }
}
