@import 'normalize.scss';
@import 'vars.scss';

// Application wide styles go here
html {
  font-family: 'lato';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

header {
  position: sticky; // Works better than fixed for horizontal scrolling
  top: 0;
  height: $header-height;
}

body {
  height: 100vh;
  background-color: $app-background-color;
}

div {
  color: $app-text-color;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  border-bottom: 2px solid $app-foreground-color;
}

#app {
  height: 100vh;
}

.ash-main {
  width: $content-width;
  position: absolute;
  top: $header-height + $divider-height;
  left: $left-gutter-width;
}

// Imports
@import 'navigation/style';
@import 'events/eventsCalendar/style';
@import 'components/style';
