.ash-section {
  margin: 10px;
  border-radius: 10px;
  background-color: #333;

  div {
    padding: 20px 20px 10px;

    h1 {
      margin: 0;
      font-size: 36px;
      font-weight: 380;
      padding-bottom: 5px;
    }

    p {
      font-size: 14px;
    }
  }
}
